*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display:flex;
  flex-direction:column;
  height:100dvh;
}
div{
    font-family: Arial, sans-serif;
    padding: 10px;
    max-width:1100px;
}
div a{
  color:pink
}
div a:hover{
  color:blue;
}