*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  display:flex;
  flex-direction:column;
  height:100dvh;
}
div{
    font-family: Arial, sans-serif;
    padding: 10px;
    max-width:80%;
    margin-left: 10%;
}
div a{
  color:rgb(80, 80, 80)
}
div a:hover{
  color:rgb(0, 0, 0);
}